
@model BCH_MVC.Models.AccountLogin
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "UserAccount", FormMethod.Post))
{
    <table align="center">
        <tr>
            <td>
                <h2>Login</h2>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.UserId):
            </td>
            <td>
                @Html.TextBoxFor(m => m.UserId)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Pwd):

            </td>
            <td>
                @Html.PasswordFor(m => m.Pwd)
            </td>
        </tr>
        <tr>
            <td align="center">
                <input type="submit" value="登陆" />
            </td>
        </tr>
    </table>
}
