USE [master]
GO
/****** Object:  Database [BCH-MVC]    Script Date: 2015/9/5 17:13:38 ******/
CREATE DATABASE [BCH-MVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BCH-MVC', FILENAME = N'E:\SQL_Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BCH-MVC.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BCH-MVC_log', FILENAME = N'E:\SQL_Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BCH-MVC_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BCH-MVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BCH-MVC]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 2015/9/5 17:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Comment](
	[UserId] [varchar](50) NOT NULL,
	[Title] [varchar](20) NOT NULL,
	[CommentContent] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Essay]    Script Date: 2015/9/5 17:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Essay](
	[UserId] [varchar](50) NOT NULL,
	[EssayTitle] [varchar](20) NOT NULL,
	[EssayContent] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 2015/9/5 17:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserAccount](
	[UserId] [varchar](50) NOT NULL,
	[Pwd] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
