
@{
    ViewBag.Title = "个人主页";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = (List<BCH_MVC.Models.Essay>)ViewBag.list;
}


<table>
    @foreach (BCH_MVC.Models.Essay essay in list)
    {
        <tr>
            <td>
                @essay.UserID
            </td>
             <td>
                 @Html.ActionLink(essay.Title, "Create_Essay", "Essay")
            </td>
        </tr>
    }
</table>